/* 导入：基本样式 */
@import url("../history-common/base.css");

/* 导入：默认字体 */
@import url("../history-common/font-family.css");

* {
    margin: 0;
    padding: 0;

    /* 默认字体 */
    font-family: var(--echo-default-font-family);
}

:root {
    /* 背景颜色 */
    --echo-live-history-bg-color: transparent;

    /* 说话人部分的相对宽度 */
    --echo-live-history-flex-username: 2;
    /* 消息内容部分的相对宽度 */
    --echo-live-history-flex-message: 5;
    /* 发送时间部分的相对宽度 */
    --echo-live-history-flex-time: 1;

    /* 说话人部分的最小宽度 */
    --echo-live-history-min-width-username: 6em;
    /* 消息内容部分的最小宽度 */
    --echo-live-history-min-width-message: unset;
    /* 发送时间部分的最小宽度 */
    --echo-live-history-min-width-time: 4.5em;

    /* 说话人部分的最小宽度 */
    --echo-live-history-max-width-username: 8em;
    /* 消息内容部分的最小宽度 */
    --echo-live-history-max-width-message: unset;
    /* 发送时间部分的最小宽度 */
    --echo-live-history-max-width-time: 5em;

    /* 字体大小 */
    --echo-live-history-font-size: 36px;
    /* 说话人字体大小 */
    --echo-live-history-font-size-username: unset;
    /* 消息内容字体大小 */
    --echo-live-history-font-size-message: unset;
    /* 发送时间字体大小 */
    --echo-live-history-font-size-time: 0.875em;

    /* 字体颜色 */
    --echo-live-history-color: #000;
    /* 说话人字体颜色 */
    --echo-live-history-color-username: unset;
    /* 消息内容字体颜色 */
    --echo-live-history-color-message: unset;
    /* 发送时间字体颜色 */
    --echo-live-history-color-time: #888;

    /* 每条记录之间的间隙 */
    --echo-live-history-list-gap: 0.5em;
    /* 每条记录内各个元素的间隙 */
    --echo-live-history-item-gap: 0.5em;
}

#echo-live-history {
    background-color: var(--echo-live-history-bg-color);
    font-size: var(--echo-live-history-font-size);
    color: var(--echo-live-history-color);
}

#echo-live-history-message-list {
    gap: var(--echo-live-history-list-gap);
}

#echo-live-history .history-message-item {
    gap: var(--echo-live-history-item-gap);
}

#echo-live-history .history-message-item .username {
    flex: var(--echo-live-history-flex-username);
    min-width: var(--echo-live-history-min-width-username);
    max-width: var(--echo-live-history-max-width-username);
    color: var(--echo-live-history-color-username, --echo-live-history-color);
    font-size: var(--echo-live-history-font-size-username, --echo-live-history-font-size);
}

#echo-live-history .history-message-item .message {
    flex: var(--echo-live-history-flex-message);
    min-width: var(--echo-live-history-min-width-message);
    max-width: var(--echo-live-history-max-width-message);
    color: var(--echo-live-history-color-message, --echo-live-history-color);
    font-size: var(--echo-live-history-font-size-message, --echo-live-history-font-size);
}

#echo-live-history .history-message-item .time {
    flex: var(--echo-live-history-flex-time);
    min-width: var(--echo-live-history-min-width-time);
    max-width: var(--echo-live-history-max-width-time);
    color: var(--echo-live-history-color-time, --echo-live-history-color);
    font-size: var(--echo-live-history-font-size-time, --echo-live-history-font-size);
}