/**
 * 这里是 Echo Live 的样式文件
 */

/* 导入：基本样式 */
@import url("../live-common/base.css");

/* 导入：默认字体 */
@import url("../live-common/font-family.css");

/* 导入：引用符号缩进 */
@import url("../live-common/char-indent.css");

/* 导入：多国语言适配 */
@import url("../live-common/i18n.css");

/* 导入：事件动效 */
@import url("../live-common/event-effect.css");

* {
    margin: 0;
    padding: 0;

    /* 默认字体 */
    font-family: var(--echo-default-font-family);
}

:root {
    /* 对话框左侧部分的相对宽度 */
    --echo-live-box-left-flex: 0;
    /* 对话框中间部分的相对宽度 */
    --echo-live-box-center-flex: 1;
    /* 对话框右侧部分的相对宽度 */
    --echo-live-box-right-flex: 0;

    /* 对话框背景颜色，如果要设为透明请使用 transparent */
    --echo-live-bg-color: #FFFFFF;
    /* 对话框边框颜色、尺寸、线形，要禁用请设为 unset */
    --echo-live-border: #888888 8px solid;
    /* 对话框圆角尺寸 */
    --echo-live-border-radius: 32px;
    /* 对话框的上、右、下、左内边距 */
    --echo-live-padding: 1em 3em 1em 5em;

    /* 对话框投影颜色 */
    --echo-live-box-shadow-color: #888888;
    /* 对话框投影距离，不要直接在此处填负数，如有需要请通过下方参数自定义 */
    --echo-live-box-shadow-distance: 16px;

    /* 如果你想要自定义投影样式，请填写下面的值，将会覆盖上面的值 */
    /* 投影横向距离 */
    --echo-live-box-shadow-x: unset;
    /* 投影纵向距离 */
    --echo-live-box-shadow-y: unset;
    /* 投影扩散距离 */
    --echo-live-box-shadow-blur: unset;
    /* 如果您有事件动效演出的需要，请注意为对话框留出充足的空间 */
    /* 对话框上方预留空间 */
    --echo-live-top: unset;
    /* 对话框左侧预留空间 */
    --echo-live-left: unset;
    /* 对话框下方预留空间 */
    --echo-live-bottom: unset;
    /* 对话框右侧预留空间 */
    --echo-live-right: unset;

    /* 对话框正文内容字体大小 */
    --echo-live-content-font-size: 40px;
    /* 对话框正文内容颜色 */
    --echo-live-content-color: #000;
    /* 对话框说话人名字字体大小 */
    --echo-live-username-font-size: 40px;
    /* 对话框说话人名字颜色 */
    --echo-live-username-color: #000;
    /* 对话框底部工具栏内容字体大小 */
    --echo-live-bottom-font-size: 28px;
    /* 对话框底部工具栏内容颜色 */
    --echo-live-bottom-color: #888;

    /* 如果不想要显示说话人，请设为 none */
    --echo-live-username-display: block;
    /* 如果不想要底部工具栏装饰，请设为 none */
    --echo-live-bottombar-display: flex;

    /* 使对话框文本不可选中 */
    user-select: none;
}


#echo-live {
    /* min-height: 150px;
    max-height: 500px; */
    position: relative;
    top: var(--echo-live-top, 0px);
    left: var(--echo-live-left, 0px);
    height: 
        calc(
            100vh
            - var(--echo-live-bottom, var(--echo-live-box-shadow-distance, 0px))
            - var(--echo-live-top, 0px)
        );
    width:
        calc(
            100vw
            - var(--echo-live-right, var(--echo-live-box-shadow-distance, 0px))
            - var(--echo-live-left, 0px)
        );
    box-shadow:
        var(--echo-live-box-shadow-color)
        var(--echo-live-box-shadow-x, var(--echo-live-box-shadow-distance, 0px))
        var(--echo-live-box-shadow-y, var(--echo-live-box-shadow-distance, 0px))
        var(--echo-live-box-shadow-blur, 0px);
    background-color: var(--echo-live-bg-color);
    background-image: unset;
    display: flex;
    flex-direction: column;
    padding: 1em 3em 1em 5em;
    box-sizing: border-box;
    border-radius: var(--echo-live-border-radius);
    border: var(--echo-live-border);
    overflow: hidden;
}

#echo-live .top {
    border-top: unset;
}

#echo-live .center {
    display: flex;
    flex: 1;
}

#echo-live .top,
#echo-live .bottom {
    display: flex;
}

#echo-live .bottom {
    display: var(--echo-live-bottombar-display);
}

#echo-live .top-left,
#echo-live .center-left,
#echo-live .bottom-left {
    flex: var(--echo-live-box-left-flex);
}

#echo-live .top-right,
#echo-live .center-right,
#echo-live .bottom-right {
    flex: var(--echo-live-box-right-flex);
}

#echo-live .top-center,
#echo-live .center-center,
#echo-live .bottom-center {
    flex: var(--echo-live-box-center-flex);
}

#echo-live .bottom-center {
    font-size: var(--echo-live-bottom-font-size);
    text-align: right;
}

#echo-live .center-center {
    font-size: var(--echo-live-content-font-size);
    padding: 0.5em;
    box-sizing: border-box;
    color: var(--echo-live-content-color, #000);
    word-break: break-word;
}

#echo-live .name {
    font-size: var(--echo-live-content-font-size);
    margin-bottom: 0.5em;
    position: relative;
    left: -1em;
    font-size: var(--echo-live-username-font-size, --echo-live-content-font-size);
    color: var(--echo-live-username-color, #000);
}

#echo-live .bottom-center {
    padding: 0.25em 1em;
}

#echo-live .bottom-center span {
    display: inline-block;
    margin-right: 1em;
    color: var(--echo-live-bottom-color, #888);
}



/* 对话框事件动效 */
#echo-live.event-shout {
    animation: echo-live-event-shout .5s 1;
}

@keyframes echo-live-event-shout {
    0% {position: relative; top: calc(12px + var(--echo-live-top, 0px)); left: calc(12px + var(--echo-live-left, 0px))}
    10% {top: calc(-8px + var(--echo-live-top, 0px)); left: calc(-8px + var(--echo-live-left, 0px))}
    20% {top: calc(8px + var(--echo-live-top, 0px)); left: calc(6px + var(--echo-live-left, 0px))}
    30% {top: calc(-6px + var(--echo-live-top, 0px)); left: calc(-4px + var(--echo-live-left, 0px))}
    40% {top: calc(3px + var(--echo-live-top, 0px)); left: calc(4px + var(--echo-live-left, 0px))}
    50% {top: calc(-4px + var(--echo-live-top, 0px)); left: calc(1px + var(--echo-live-left, 0px))}
    60% {top: calc(3px + var(--echo-live-top, 0px)); left: calc(2px + var(--echo-live-left, 0px))}
    70% {top: calc(0px + var(--echo-live-top, 0px)); left: calc(-3px + var(--echo-live-left, 0px))}
    80% {top: calc(-2px + var(--echo-live-top, 0px)); left: calc(1px + var(--echo-live-left, 0px))}
    90% {top: calc(-1px + var(--echo-live-top, 0px)); left: calc(-1px + var(--echo-live-left, 0px))}
    100% {position: relative; top: calc(0px + var(--echo-live-top, 0px)); left: calc(0px + var(--echo-live-left, 0px))}
}
