/* ============================================================
 * Echo-Live
 * Github: https://github.com/sheep-realms/Echo-Live
 * License: GNU General Public License 3.0
 * ============================================================
**/


/**
 * 这里是 Echo Live 的样式文件
**/

/* 导入：基本样式 */
@import url("../live-common/base.css");

/* 导入：默认字体 */
@import url("../live-common/font-family.css");

/* 导入：字符打印效果 */
@import url("../live-common/char-effect.css");

/* 导入：引用符号缩进 */
@import url("../live-common/char-indent.css");

/* 导入：多国语言适配 */
@import url("../live-common/i18n.css");

/* 导入：事件动效 */
@import url("../live-common/event-effect.css");

* {
    margin: 0;
    padding: 0;

    /* 默认字体 */
    font-family: var(--echo-default-font-family);
}

:root {
    /* == 对话框相关 == */

    /* 对话框左侧部分的相对宽度 */
    --echo-live-box-left-flex: 2;
    /* 对话框中间部分的相对宽度 */
    --echo-live-box-center-flex: 7;
    /* 对话框右侧部分的相对宽度 */
    --echo-live-box-right-flex: 3;

    /* 对话框背景颜色，如果要设为透明请使用 transparent */
    --echo-live-bg-color: #FFFFFF;
    /* 对话框顶部边框颜色、尺寸、线形，要禁用请设为 unset */
    --echo-live-border-top: #CCC 2px solid;

    /* 对话框正文内容字体大小 */
    --echo-live-content-font-size: 40px;
    /* 对话框正文内容颜色 */
    --echo-live-content-color: #000;
    /* 对话框说话人名字字体大小 */
    --echo-live-username-font-size: 40px;
    /* 对话框说话人名字颜色 */
    --echo-live-username-color: #000;
    /* 对话框底部工具栏内容字体大小 */
    --echo-live-bottom-font-size: 28px;
    /* 对话框底部工具栏内容颜色 */
    --echo-live-bottom-color: #888;

    /* 对话框装饰角标颜色 */
    --corner-marker-color: rgba(255,255,255,0.5);
    /* 对话框装饰角标填充图案，要禁用请设为 unset */
    --corner-marker: linear-gradient(-135deg, var(--corner-marker-color) 15px, transparent 15px);
    /* 对话框装饰角标填充图案（深色版），要禁用请设为 unset */
    --corner-marker-black: linear-gradient(-135deg, #CCC 15px, transparent 15px);

    /* 如果不想要显示说话人，请设为 none */
    --echo-live-username-display: block;
    /* 如果不想要底部工具栏装饰，请设为 none */
    --echo-live-bottombar-display: flex;


    /* == 历史记录相关 == */

    /* 历史记录说话人部分的相对宽度 */
    --echo-live-history-flex-username: 2;
    /* 历史记录消息内容部分的相对宽度 */
    --echo-live-history-flex-message: 5;
    /* 历史记录发送时间部分的相对宽度 */
    --echo-live-history-flex-time: 1;

    /* 历史记录说话人部分的最小宽度 */
    --echo-live-history-min-width-username: 6em;
    /* 历史记录消息内容部分的最小宽度 */
    --echo-live-history-min-width-message: unset;
    /* 历史记录发送时间部分的最小宽度 */
    --echo-live-history-min-width-time: 4.5em;

    /* 历史记录说话人部分的最小宽度 */
    --echo-live-history-max-width-username: 8em;
    /* 历史记录消息内容部分的最小宽度 */
    --echo-live-history-max-width-message: unset;
    /* 历史记录发送时间部分的最小宽度 */
    --echo-live-history-max-width-time: 5em;

    /* 历史记录字体大小 */
    --echo-live-history-font-size: 36px;
    /* 历史记录标题字体大小 */
    --echo-live-history-font-size-title: 42px;
    /* 历史记录说话人字体大小 */
    --echo-live-history-font-size-username: unset;
    /* 历史记录消息内容字体大小 */
    --echo-live-history-font-size-message: unset;
    /* 历史记录发送时间字体大小 */
    --echo-live-history-font-size-time: 0.875em;

    /* 历史记录字体颜色 */
    --echo-live-history-color: #000;
    /* 历史记录标题字体颜色 */
    --echo-live-history-color-title: #606266;
    /* 历史记录说话人字体颜色 */
    --echo-live-history-color-username: unset;
    /* 历史记录消息内容字体颜色 */
    --echo-live-history-color-message: unset;
    /* 历史记录发送时间字体颜色 */
    --echo-live-history-color-time: #888;
    /* 历史记录背景颜色，如果要设为透明请使用 transparent */
    --echo-live-history-bg-color: #EDEEF0;
    /* 历史记录标题背景颜色 */
    --echo-live-history-bg-color-title: #FFFFFF;
    /* 历史记录标题的上、右、下、左内边距 */
    --echo-live-history-padding-title: 0em 1em 0em 1em;
    /* 历史记录标题的最小高度 */
    --echo-live-history-min-height: 84px;
    /* 历史记录内容的上、右、下、左内边距 */
    --echo-live-history-padding-content: 1em 1em 1em 1em;
    
    /* 历史记录标题字重 */
    --echo-live-history-font-weight-title: 600;
    /* 历史记录说话人字重 */
    --echo-live-history-font-weight-username: 500;
    /* 历史记录消息内容字重 */
    --echo-live-history-font-weight-message: 400;
    /* 历史记录发送时间字重 */
    --echo-live-history-font-weight-time: 300;

    /* 历史记录每条记录之间的间隙 */
    --echo-live-history-list-gap: 0.5em;
    /* 历史记录每条记录内各个元素的间隙 */
    --echo-live-history-item-gap: 0.5em;

    /* 历史记录标题垂直偏移量 */
    --echo-live-history-title-top: -4px;
    /* 对话框装饰角标填充图案，要禁用请设为 unset */
    --echo-live-history-corner-marker: linear-gradient(-135deg, rgba(0,0,0,0.15) 15px, transparent 15px);


    /* == 其他 == */

    /* 文本不可选中 */
    user-select: none;
    /* 下划线默认颜色 */
    --echo-span-color: var(--echo-live-content-color);
}

/* 半透明主题 */
:root[user-custom-color="light_glass"] {
    /* 对话框背景颜色 */
    --echo-live-bg-color: rgba(255, 255, 255, 0.75);
    /* 历史记录背景颜色 */
    --echo-live-history-bg-color: rgba(238, 238, 238, 0.75);
}

/* 深色主题通用 */
:root[user-custom-color="dark"],
:root[user-custom-color="dark_glass"] {
    /* 对话框正文内容颜色 */
    --echo-live-content-color: #FFF;
    /* 对话框说话人名字颜色 */
    --echo-live-username-color: #FFF;
    /* 对话框底部工具栏内容颜色 */
    --echo-live-bottom-color: #DDD;
    /* 历史记录标题背景颜色 */
    --echo-live-history-bg-color-title: #333740;
    /* 历史记录字体颜色 */
    --echo-live-history-color: #FFF;
    /* 历史记录标题字体颜色 */
    --echo-live-history-color-title: #9C9EA6;
    /* 历史记录发送时间字体颜色 */
    --echo-live-history-color-time: #9C9EA6;
}

/* 深色主题 */
:root[user-custom-color="dark"] {
    /* 对话框背景颜色 */
    --echo-live-bg-color: rgba(69, 73, 82, 1);
    /* 对话框顶部边框颜色、尺寸、线形 */
    --echo-live-border-top: rgba(255, 255, 255, 1) 2px solid;
    /* 对话框装饰角标颜色 */
    --corner-marker-color: rgba(255, 255, 255, 1);
    /* 历史记录背景颜色 */
    --echo-live-history-bg-color: rgba(69, 73, 82, 1);
}

/* 深色半透明主题 */
:root[user-custom-color="dark_glass"] {
    /* 对话框背景颜色 */
    --echo-live-bg-color: rgba(0, 0, 0, 0.6);
    /* 对话框顶部边框颜色、尺寸、线形 */
    --echo-live-border-top: rgba(255, 255, 255, 0.5) 2px solid;
    /* 对话框装饰角标颜色 */
    --corner-marker-color: rgba(255, 255, 255, 0.5);
    /* 历史记录背景颜色 */
    --echo-live-history-bg-color: rgba(69, 73, 82, 0.75);
}


/* Echo-Live */
#echo-live {
    /* 为了防止您拉出离谱的尺寸，这里限制了最小和最大高度。如果您知道您在做什么，请设为 unset */
    min-height: 150px;
    max-height: 500px;
    height: 100vh;
    background-color: var(--echo-live-bg-color);
    background-image: var(--corner-marker-black);
    display: flex;
    flex-direction: column;
}

:root[user-custom-color="dark"] #echo-live,
:root[user-custom-color="dark_glass"] #echo-live {
    background-image: var(--corner-marker);
}

#echo-live .top {
    border-top: var(--echo-live-border-top);
}

#echo-live .center {
    display: flex;
    flex: 1;
}

#echo-live .top,
#echo-live .bottom {
    display: flex;
}

#echo-live .bottom {
    display: var(--echo-live-bottombar-display);
}

#echo-live .top-left,
#echo-live .center-left,
#echo-live .bottom-left {
    flex: var(--echo-live-box-left-flex);
}

#echo-live .top-right,
#echo-live .center-right,
#echo-live .bottom-right {
    flex: var(--echo-live-box-right-flex);
}

#echo-live .top-center,
#echo-live .center-center,
#echo-live .bottom-center {
    flex: var(--echo-live-box-center-flex);
}

#echo-live .controller {
    font-size: var(--echo-live-bottom-font-size);
}

#echo-live .center-center {
    font-size: var(--echo-live-content-font-size);
    padding: 0.5em;
    box-sizing: border-box;
    color: var(--echo-live-content-color, #000);
    transition: color .3s;
}

#echo-live .name {
    display: var(--echo-live-username-display);
    margin-bottom: 0.5em;
    position: relative;
    margin-inline-start: -1em;
    font-size: var(--echo-live-username-font-size, var(--echo-live-content-font-size));
    color: var(--echo-live-username-color, #000);
    transition: color .3s;
}

#echo-live .controller {
    padding: 0.125em 0.5em;
}

#echo-live .controller span {
    display: inline-block;
    margin-right: 1em;
    color: var(--echo-live-bottom-color, #888);
    transition: color .3s;
}

:root[user-custom-mini] #echo-live .top-left,
:root[user-custom-mini] #echo-live .center-left,
:root[user-custom-mini] #echo-live .bottom-left,
:root[user-custom-mini] #echo-live .top-right,
:root[user-custom-mini] #echo-live .center-right,
:root[user-custom-mini] #echo-live .bottom-right {
    flex: 1 !important;
}

:root[user-custom-mini] #echo-live .center-top,
:root[user-custom-mini] #echo-live .center-center,
:root[user-custom-mini] #echo-live .center-bottom {
    flex: unset !important;
    width: calc(var(--bili-pk-scene-width, 33vw) + 64px);
}

:root[user-custom-mini] #echo-live .controller {
    display: none;
}


/* Echo-Live 历史记录 */
#echo-live-history {
    background-color: var(--echo-live-history-bg-color);
    font-size: var(--echo-live-history-font-size);
    color: var(--echo-live-history-color);
    box-sizing: border-box;
    flex-direction: column;
    align-items: stretch;
    transition: background-color .3s, color .3s;
}

.echo-live-history-title {
    padding: var(--echo-live-history-padding-title);
    background-color: var(--echo-live-history-bg-color-title);
    background-image: var(--echo-live-history-corner-marker);
    min-height: var(--echo-live-history-min-height);
    display: flex;
    align-items: center;
    transition: background-color .3s;
}

#echo-live-history h1 {
    font-size: var(--echo-live-history-font-size-title);
    color: var(--echo-live-history-color-title);
    font-weight: var(--echo-live-history-font-weight-title);
    position: relative;
    top: var(--echo-live-history-title-top);
    transition: color .3s;
}

#echo-live-history-message-list {
    gap: var(--echo-live-history-list-gap);
    padding: var(--echo-live-history-padding-content);
    height: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0, transparent 30px);
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0, transparent 30px), linear-gradient(to top, rgba(0, 0, 0, 0.1) 0, transparent 30px); */
}

:root[user-custom-color="dark"] #echo-live-history-message-list {
    background-image: linear-gradient(rgba(156, 158, 166, 0.1) 0, transparent 30px);
}

#echo-live-history .history-message-item {
    gap: var(--echo-live-history-item-gap);
}

#echo-live-history .history-message-item .username {
    flex: var(--echo-live-history-flex-username);
    min-width: var(--echo-live-history-min-width-username);
    max-width: var(--echo-live-history-max-width-username);
    color: var(--echo-live-history-color-username, var(--echo-live-history-font-size));
    font-size: var(--echo-live-history-font-size-username, var(--echo-live-history-font-size));
    font-weight: var(--echo-live-history-font-weight-username);
    transition: color .3s;
}

#echo-live-history .history-message-item .message {
    flex: var(--echo-live-history-flex-message);
    min-width: var(--echo-live-history-min-width-message);
    max-width: var(--echo-live-history-max-width-message);
    color: var(--echo-live-history-color-message, var(--echo-live-history-font-size));
    font-size: var(--echo-live-history-font-size-message, var(--echo-live-history-font-size));
    font-weight: var(--echo-live-history-font-weight-message);
    transition: color .3s;
}

#echo-live-history .history-message-item .time {
    flex: var(--echo-live-history-flex-time);
    min-width: var(--echo-live-history-min-width-time);
    max-width: var(--echo-live-history-max-width-time);
    color: var(--echo-live-history-color-time, var(--echo-live-history-font-size));
    font-size: var(--echo-live-history-font-size-time, var(--echo-live-history-font-size));
    font-weight: var(--echo-live-history-font-weight-time);
    transition: color .3s;
}