/* ============================================================
 * Echo-Live
 * Github: https://github.com/sheep-realms/Echo-Live
 * License: GNU General Public License 3.0
 * ============================================================
**/


:root {
    /* 使对话框文本不可选中 */
    user-select: none;

    --animation-speed-display-hidden: 1000ms;
    --animation-speed-display-show: 500ms;

    --echo-live-mini-size-coefficient: 0.5926;
    --echo-live-mini-size-coefficient-trim: min(max(var(--echo-live-mini-size-coefficient), 0.3), 2);
    --echo-live-mini-size-width: calc(min(var(--obs-scene-height) * var(--echo-live-mini-size-coefficient-trim), var(--obs-scene-width)));
}

body {
    background-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

#echo-live:not(.display-hidden) {
    opacity: 1;
    transition: opacity var(--animation-speed-display-show) ease-out, background-color .3s;
}

#echo-live.display-hidden {
    opacity: 0;
    transition: opacity var(--animation-speed-display-hidden) ease-in, background-color .3s;
}

#echo-live .center-center,
#echo-live-history .history-message-item .message .content {
    word-break: break-word;
}

.username-text-align-right #echo-live .name {
    text-align: right;
    margin-inline-start: 0em;
    margin-right: -1em;
}

#echo-live .controller {
    font-size: var(--echo-live-bottom-font-size);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75em
}

#echo-live .controller span {
    line-height: 1em;
    position: relative;
    top: -0.05em;
}

#echo-live .controller .flex-space {
    flex: 1;
}

#echo-live .controller svg {
    width: calc(var(--echo-live-bottom-font-size) * 1.5);
    height: calc(var(--echo-live-bottom-font-size) * 1.5);
    transition: fill .3s;
}

.controller-hidden #echo-live .controller {
    display: none !important;
}

#echo-live-history {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
}

#echo-live-history-message-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

#echo-live-history-message-list::-webkit-scrollbar {
    display: none;
}

.echo-live-history-message-list-reverse #echo-live-history-message-list {
    flex-direction: column-reverse;
}

#echo-live-history .history-message-item {
    display: flex;
    flex-direction: row;
}

.echo-live-history-latest-message-hide:not(.echo-live-history-latest-message-show) #echo-live-history .history-message-item:last-child {
    display: none;
}

.echo-live-history-message-item-reverse #echo-live-history .history-message-item {
    flex-direction: row-reverse;
}

#echo-live-history .history-message-item .username {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

#echo-live-history .history-message-item .time {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

.echo-live-history-message-item-reverse #echo-live-history .history-message-item .username {
    justify-content: flex-end;
    text-align: right;
}

.echo-live-history-message-item-reverse #echo-live-history .history-message-item .time {
    justify-content: flex-start;
    text-align: left;
}

.echo-live-history-disable-username #echo-live-history .history-message-item .username,
.echo-live-history-disable-time #echo-live-history .history-message-item .time {
    display: none;
}