:root {
    /* 使对话框文本不可选中 */
    user-select: none;

    --animation-speed-display-hidden: 1000ms;
    --animation-speed-display-show: 500ms;
}

body {
    background-color: transparent;
}

#echo-live:not(.display-hidden) {
    opacity: 1;
    transition: opacity var(--animation-speed-display-show) ease-out;
}

#echo-live.display-hidden {
    opacity: 0;
    transition: opacity var(--animation-speed-display-hidden) ease-in;
}

#echo-live .center-center,
#echo-live-history .history-message-item .message .content {
    word-break: break-word;
}

#echo-live-history {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
}

#echo-live-history-message-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

#echo-live-history-message-list::-webkit-scrollbar {
    display: none;
}

.echo-live-history-message-list-reverse #echo-live-history-message-list {
    flex-direction: column-reverse;
}

#echo-live-history .history-message-item {
    display: flex;
    flex-direction: row;
}

.echo-live-history-latest-message-hide #echo-live-history .history-message-item:last-child {
    display: none;
}

.echo-live-history-message-item-reverse #echo-live-history .history-message-item {
    flex-direction: row-reverse;
}

#echo-live-history .history-message-item .username {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

#echo-live-history .history-message-item .time {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

.echo-live-history-message-item-reverse #echo-live-history .history-message-item .username {
    justify-content: flex-end;
    text-align: right;
}

.echo-live-history-message-item-reverse #echo-live-history .history-message-item .time {
    justify-content: flex-start;
    text-align: left;
}

.echo-live-history-disable-username #echo-live-history .history-message-item .username,
.echo-live-history-disable-time #echo-live-history .history-message-item .time {
    display: none;
}