#echo-live.event-shout {
    animation: echo-live-event-shout .5s 1;
}

@keyframes echo-live-event-shout {
    0% {position: relative; top: 12px; left: 12px}
    10% {top: -8px; left: -8px}
    20% {top: 8px; left: 6px}
    30% {top: -6px; left: -4px}
    40% {top: 3px; left: 4px}
    50% {top: -4px; left: 1px}
    60% {top: 3px; left: 2px}
    70% {top: 0px; left: -3px}
    80% {top: -2px; left: 1px}
    90% {top: -1px; left: -1px}
    100% {position: relative; top: 0px; left: 0px}
}