/* 高对比度 */
.accessible-high-contrast {
    --accessible-outline-color: #00E9FF;
    --accessible-outline-size: 2px;
    --accessible-outline-style: solid;
    --accessible-outline: var(--accessible-outline-color) var(--accessible-outline-size) var(--accessible-outline-style);

    --color-main: rgb(44, 114, 154);
    --color-main-dark: gb(26, 90, 127);

    --color-general: rgb(44, 114, 154);
    --color-safe: rgb(50, 141, 42);
    --color-warn: rgb(148, 122, 35);
    --color-danger: rgb(148, 56, 60);
    --color-special: rgb(114, 56, 135);

    --color-general-dark: rgb(26, 90, 127);
    --color-safe-dark: rgb(34, 94, 27);
    --color-warn-dark: rgb(112, 94, 33);
    --color-danger-dark: rgb(128, 41, 46);
    --color-special-dark: rgb(91, 37, 110);

    --color-general-glass: rgba(45, 147, 206, 0.05);
    --color-safe-glass: rgba(69, 204, 56, 0.05);
    --color-warn-glass: rgba(230, 189, 53, 0.05);
    --color-danger-glass: rgba(230, 82, 89, 0.05);
    --color-special-glass: rgba(147, 61, 178, 0.05);

    --text-primary: #000;
    --text-regular: #222;
    --text-secondary: #444;
    --text-placeholder: #666;

    --border-coler: #000;
    --box-shadow: 0 0 0 4px rgba(128, 128, 128, 0.75);
}

.accessible-high-contrast .echo-live-client-state-block.state-sleep {
    background-color: transparent;
    border: 1px solid var(--color-danger-dark);
}

.accessible-high-contrast textarea,
.accessible-high-contrast input[type=number],
.accessible-high-contrast input[type=text],
.accessible-high-contrast #editor-log,
.accessible-high-contrast select,
.accessible-high-contrast .echo-live-client-state-block {
    border: 1px solid var(--text-primary);
}

.accessible-high-contrast #popups-palette:not(:focus-within) .popups-palette-select-content kbd {
    opacity: 0;
}

.accessible-high-contrast input[type=number]:focus,
.accessible-high-contrast input[type=text]:focus,
.accessible-high-contrast textarea:focus,
.accessible-high-contrast select:focus,
.accessible-high-contrast button:focus {
    outline: var(--accessible-outline) !important;
}

.accessible-high-contrast .echo-live-client-state-block.echo-state-play .client-info {
    background-image: unset;
    animation: unset;
}

.accessible-high-contrast .settings-panel a {
    border-bottom: var(--color-general-dark) 1px solid;
}


/* 红绿色盲 */
.accessible-drotanopia-and-deuteranopia {
    --color-safe: var(--color-general);
    --color-safe-dark: var(--color-general-dark);
    --color-safe-glass: var(--color-general-glass);
}

.accessible-drotanopia-and-deuteranopia .echo-live-client-state-block.state-active {
    background-color: var(--color-general-dark);
}

.accessible-drotanopia-and-deuteranopia .echo-live-client-state-block.state-sleep {
    background-color: transparent;
    border: 1px solid var(--color-general-dark);
}

.accessible-drotanopia-and-deuteranopia #popups-palette .popups-palette-color-contrast .diff-result-content {
    color: var(--color-general-dark);
    fill: var(--color-general-dark);
    border: var(--color-general-dark) 1px solid;
}

.accessible-drotanopia-and-deuteranopia #popups-palette .popups-palette-color-contrast .diff-result-content.fail {
    background-color: var(--color-danger-dark);
    border: var(--color-danger-dark) 1px solid;
    fill: #FFFFFF;
    color: #FFFFFF;
}


/* 通用 */
.accessible-high-contrast #popups-palette,
.accessible-drotanopia-and-deuteranopia #popups-palette {
    --ex-height: 48px;
}

.accessible-high-contrast #popups-palette.color-contrast-enable,
.accessible-drotanopia-and-deuteranopia #popups-palette.color-contrast-enable {
    --ex-height: calc(48px + 60px);
}

.accessible-high-contrast #popups-palette .popups-palette-accessible,
.accessible-drotanopia-and-deuteranopia #popups-palette .popups-palette-accessible {
    display: flex;
}