* {
    margin: 0;
    padding: 0;
    font-family: '思源黑体', 'Microsoft YaHei', sans-serif;
}

:root {
    --text-primary: #303133;
    --text-regular: #606266;
    --text-secondary: #909399;
    --text-placeholder: #a8abb2;

    --border-coler: #AAAAAA;
}

body {
    overflow-y: scroll;
}

main {
    width: min(1000px, calc(100vw - 32px));
    margin: 0 auto;
}

textarea.code {
    font-family: Monaco, Consolas,'Lucida Console', 'Courier New', serif;
}

.tabpage-nav {
    border-bottom: var(--border-coler) 1px solid;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    --corner-marker-color: rgba(0, 0, 0, 0.25);
    background-image: var(--corner-marker);
    background-color: #FAFAFA;
    position: sticky;
    top: 0;
}

.tabpage-centent .tabpage-nav {
    position: unset;
    top: unset;
}

.tabpage-nav-item {
    flex: 1 0 80px;
    border: unset;
    border-bottom: transparent 4px solid;
    background-color: unset;
    font-size: 16px;
    padding: 0.5em 1em;
    cursor: pointer;
    display: inline-block;
    color: var(--text-secondary);
    transition: color .3s, border .3s;
}

.tabpage-nav-item[aria-selected="true"] {
    border-bottom: var(--color-general-dark) 4px solid;
    color: var(--text-primary);
}

.fh-button.hide,
.tabpage-panel.hide,
.tabpage-nav-item.hide,
.collapse-content.hide,
.print-speed-change.hide,
#log-message-mark.hide,
.echo-live-client-state.hide,
.history-message-item .sent.hide {
    display: none;
}

.tabpage-panel-title {
    font-size: 0;
}

.echo-editor-from label,
.echo-editor-from textarea {
    display: block;
}

.echo-editor-from label {
    padding: 0.25em 0;
    color: var(--text-regular);
}

.echo-editor-from textarea {
    resize: vertical;
    width: 100%;
    min-height: 100px;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0.5em;
    border: unset;
    border-bottom: var(--border-coler) 1px solid;
    outline: none;
    background-color: #FFFFFF;
    transition: border .3s;
}

.echo-editor-from textarea:focus {
    border-bottom: var(--color-general) 1px solid;
}

.editor-controller-bottom {
    padding: 16px 0;
    margin-top: -1px;
    border-top: var(--border-coler) 1px solid;
    position: sticky;
    bottom: 0;
    background-color: #FAFAFA;
}

.editor-controller-bottom>* {
    flex: 1;
    margin: 0;
}

.editor-controller-bottom>*+* {
    margin-left: 16px;
}

#output-content {
    height: 60vh;
}

.collapse-title {
    border-bottom: var(--border-coler) 1px solid;
    display: flex;
}

.collapse-content {
    border-bottom: var(--border-coler) 1px solid;
}

.collapse-title button {
    flex: 1;
}

.checkbox {
    display: flex;
    background-color: transparent;
    border: unset;
    padding: 0.5em;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    align-items: center;
    color: var(--text-regular);
}

.checkbox .icon {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    box-sizing: border-box;
    border: var(--color-general-dark) 1px solid;
    margin-right: 0.5em;
    --corner-marker-color: var(--color-general-dark);
    background-image: var(--corner-marker);
}

.checkbox .text {
    position: relative;
    top: -0.05em;
}

.checkbox:hover .icon {
    background-color: var(--color-general-glass);
}

.checkbox.selected .icon {
    --corner-marker-color: rgba(255,255,255,0.5);
    background-color: var(--color-general-dark);
    border: unset;
}

.checkbox:hover {
    filter: brightness(1.15);
}

.checkbox:active {
    transition: filter 0s, background-color 0s, box-shadow var(--animation-speed-button-switch);
    filter: brightness(0.85);
}

.echo-editor-from-row {
    display: flex;
    padding: 0.5em;
    align-items: center;
}

.echo-editor-from-row>label {
    width: 200px;
}

@media screen and (max-width: 760px) {
    .echo-editor-from-row>label {
        width: 150px;
    }
}

@media screen and (max-width: 450px) {
    .echo-editor-from-row {
        align-items: flex-start;
        flex-direction: column;
    }
}

.echo-editor-from-row>input {
    flex: 1;
}

.echo-editor-from-checkbox-list {
    width: calc(100% - 200px);
    margin-left: 200px;
}

@media screen and (max-width: 760px) {
    .echo-editor-from-checkbox-list {
        width: calc(100% - 150px);
        margin-left: 150px;
    }
}

@media screen and (max-width: 450px) {
    .echo-editor-from-checkbox-list {
        width: 100%;
        margin-left: 0;
    }
}

.echo-editor-from-input-tip {
    padding-bottom: 0.5em;
    padding-left: 1em;
    color: var(--text-secondary);
    display: block;
    font-size: 14px;
}

input[type=number],
input[type=text] {
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0.25em 0.5em;
    border: unset;
    border-bottom: var(--border-coler) 1px solid;
    outline: none;
    background-color: #FFFFFF;
    transition: border .3s;
}

input[type=number]:focus,
input[type=text]:focus {
    border-bottom: var(--color-general) 1px solid;
}



.editor-text {
    display: flex;
}

.editor-text-item {
    flex: 2;
    margin-right: 16px;
}

.editor-text-list {
    flex: 1;
}

.editor-text-controller {
    display: flex;
    align-items: center;
}

.editor-text-controller .checkbox {
    display: inline-flex;
}

.editor-text-list-item {
    display: flex;
    align-items: center;
    border-bottom: var(--border-coler) 1px solid;
    padding: 0.25em 0;
    justify-content: space-between;
}

.editor-text-list-item .index {
    margin-right: 0.25em;
    color: var(--text-secondary);
}

.editor-text-list-item .text {
    width: 180px;
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.editor-text-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#editor-log {
    background-color: #FFF;
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    font-family: Monaco, Consolas, 'Lucida Console', 'Courier New', serif;
    padding: 8px;
}

#editor-log>div>span {
    font-family: Monaco, Consolas, 'Lucida Console', 'Courier New', serif;
}

#editor-log .log-item {
    padding-left: 14.2em;
    text-indent: -14.2em;
}

#editor-log .log-type-dbug {
    color: var(--text-placeholder);
}

#editor-log .log-type-tips {
    color: var(--color-general-dark);
}

#editor-log .log-type-done {
    color: var(--color-safe-dark);
}

#editor-log .log-type-warn {
    color: var(--color-warn-dark);
}

#editor-log .log-type-erro {
    color: var(--color-danger-dark);
}

#editor-log .log-type-info i {
    color: var(--text-placeholder);
}

#log-message-mark {
    background-color: var(--color-danger-dark);
    color: #FFF;
    font-size: 12px;
    padding: 0 4px;
    display: inline-block;
    min-width: 12px;
    border-radius: 8px;
    position: relative;
    top: -4px;
}

@media screen and (max-width: 760px) {
    #editor-log {
        font-size: 14px;
    }

    #editor-log .log-item {
        padding-left: 0;
        text-indent: 0;
    }
}

@media screen and (max-width: 450px) {
    #editor-log {
        font-size: 12px;
    }

    #editor-log .log-item {
        padding-left: 0;
        text-indent: 0;
    }
}

.echo-live-client-state {
    margin-bottom: 8px;
}

.echo-live-client-state-panel {
    display: flex;
    gap: 4px;
}

.echo-live-client-state-block {
    background-color: #EEEEEE;
    height: 8px;
    flex: 1;
    box-sizing: border-box;
}

.echo-live-client-state-block.state-active {
    background-color: var(--color-safe-dark);
}

.echo-live-client-state-block.state-sleep {
    background-color: var(--color-danger-dark);
}



#history-message-list {
    min-height: calc(100vh - 200px);
}

.history-message-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: var(--border-coler) 1px solid;
    background-color: transparent;
    transition: background-color .3s;
}

.history-message-item:hover {
    background-color: #FFF;
}

.history-message-item .content {
    flex: 1;
}

.history-message-item .content .username {
    color: var(--text-regular);
    word-break: break-word;
}

.history-message-item .content .message {
    color: var(--text-primary);
    padding-left: 1em;
    padding-bottom: 4px;
    word-break: break-word;
}

.history-message-item .content .length {
    color: var(--text-secondary);
    padding-left: 1em;
}

.history-message-item .content .time {
    color: var(--text-secondary);
    font-size: 12px;
}

.history-message-item .action {
    display: flex;
    align-items: center;
    gap: 6px;
}

@media screen and (max-width: 450px) {
    .history-message-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .history-message-item .content .time {
        display: flex;
        flex-direction: column;
    }

    .history-message-item .action {
        margin-top: 8px;
        width: 100%;
    }

    .history-message-item .action>button {
        flex: 1;
    }
}