:root {
    --settings-group-title-stickt-top: 44px;
}

main {
    transition: width .3s;
}

.settings-panel {
    display: flex;
    gap: var(--gap-middle);
    min-height: calc(100vh - 180px);
    align-items: flex-start;
}

.settings-panel a {
    color: var(--color-general-dark);
    text-decoration: none;
}

.settings-panel a:hover {
    filter: brightness(1.15);
}

.settings-panel a:active {
    filter: brightness(0.85);
}

.settings-nav {
    width: 280px;
    min-width: 280px;
    position: sticky;
    top: 60px;
    transition: width .3s;
}

.unlock-page-width .settings-nav {
    width: max(280px, 25vw);
}

.settings-content {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    min-width: 250px;
}

.settings-page {
    min-height: calc(100vh - 138px);
    box-sizing: border-box;
    padding-bottom: 25vh;
}

.settings-page.hide {
    display: none;
}

.settings-page.hide a,
.settings-page.hide button,
.settings-page.hide input,
.settings-page.hide select,
.settings-page.hide textarea {
    visibility: hidden;
}





.file-check-box {
    min-height: 100px;
    border: var(--border-color) 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
    gap: var(--gap-small);
}

.file-check-box .empty-message {
    color: var(--text-secondary);
}

.file-check-box .info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-small);
}

.file-check-box .icon,
.file-check-box .icon svg {
    width: 80px;
    height: 80px;
}

.file-check-box .icon svg {
    fill: var(--text-secondary);
}

.file-check-box .meta {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.file-check-box .meta .name {
    font-weight: bold;
    color: var(--text-primary);
}

.file-check-box .meta .size,
.file-check-box .meta .last-modified-date {
    color: var(--text-secondary);
    font-size: var(--font-size-small);
}

.file-check-box .state {
    min-width: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-small);
}

.file-check-box .state .icon,
.file-check-box .state .icon svg {
    width: var(--icon-size-large);
    height: var(--icon-size-large);
}

.file-check-box .state .message {
    color: var(--text-regular);
}

.file-check-box .state .icon svg {
    fill: var(--text-regular);
}

.file-check-box .state.state-ok .message {
    color: var(--color-safe-dark);
}

.file-check-box .state.state-ok .icon svg {
    fill: var(--color-safe);
}

.file-check-box .state.state-warn .message {
    color: var(--color-warn-dark);
}

.file-check-box .state.state-warn .icon svg {
    fill: var(--color-warn);
}

.file-check-box .state.state-error .message {
    color: var(--color-danger-dark);
}

.file-check-box .state.state-error .icon svg {
    fill: var(--color-danger);
}

.file-drop-box {
    border: var(--border-color) 4px dashed;
    user-select: none;
    cursor: pointer;
    background-image: linear-gradient(var(--corner-marker-angle), var(--border-color) 12px, transparent 12px);
    background-position: 4px -4px;
    background-repeat: no-repeat;
    width: 100%;
    background-color: transparent;
    outline: none;
}

.file-drop-box,
.file-check-dialog {
    min-height: calc( 100vh - 120px - var(--height-top-nav) - var(--font-size-base) * 2 );
    margin: var(--gap-middle) 0 0 0;
    padding: var(--gap-middle);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.file-drop-box.hide {
    display: none;
}

.file-check-dialog {
    border: var(--border-color) 1px solid;
    gap: var(--gap-middle);
    justify-content: flex-start;
}

.file-check-dialog .icon {
    margin-top: 32px;
}

.file-check-dialog .icon,
.file-check-dialog .icon svg {
    width: calc(var(--font-size-base) + 32px);
    height: calc(var(--font-size-base) + 32px);
}

.file-check-dialog .icon svg {
    fill: var(--text-regular);
}

.file-check-dialog.state-warn .icon svg {
    fill: var(--color-warn);
}

.file-check-dialog.state-error .icon svg {
    fill: var(--color-danger);
}

.file-check-dialog .title {
    font-size: var(--font-size-title-3);
    font-weight: bold;
    color: var(--text-primary);
}

.file-check-dialog .description {
    color: var(--text-regular);
}

.file-check-dialog .controller {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-small);
    padding-top: 8px;
}

.file-check-dialog .controller button {
    min-width: 120px;
}

.file-drop-box:focus-visible {
    border: var(--color-general) 4px dashed;
    background-image: linear-gradient(var(--corner-marker-angle), var(--color-general) 12px, transparent 12px);
}

.file-drop-box.dragover {
    border: var(--color-general) 4px dashed;
    z-index: 2000;
    position: relative;
    box-shadow: 0 0 0 max(1000vw, 1000vh) rgba(255, 255, 255, 0.75);
    background-image: linear-gradient(var(--corner-marker-angle), var(--color-general) 12px, transparent 12px);
}

@media (prefers-color-scheme: dark) {
    .file-drop-box.dragover {
        box-shadow: 0 0 0 max(1000vw, 1000vh) rgba(0, 0, 0, 0.75);
    }
}

.prefers-color-scheme-dark .file-drop-box.dragover {
    box-shadow: 0 0 0 max(1000vw, 1000vh) rgba(0, 0, 0, 0.75);
}

.file-drop-box-message,
.file-drop-box-message-keyboard {
    font-size: var(--font-size-extra-large);
    color: var(--text-secondary);
    pointer-events: none;
}

.file-drop-box-message-keyboard {
    display: none;
}

.file-drop-box:focus-visible .file-drop-box-message {
    display: none;
}

.file-drop-box:focus-visible .file-drop-box-message-keyboard {
    display: inline;
}





.settings-nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: var(--height-menu-item);
    padding: 0.25em 0.5em;
    color: var(--text-regular);
    border: unset;
    background-color: transparent;
    width: 100%;
    font-size: var(--font-size-middle);
    justify-content: space-between;
    gap: var(--gap-small);
    box-sizing: border-box;
}

.settings-nav-item:hover:not([aria-selected="true"]) {
    background-color: var(--color-general-glass);
    background-image: var(--corner-marker);
}

.settings-nav-item[aria-selected="true"] {
    background-color: var(--color-general-dark);
    background-image: var(--corner-marker);
    color: #FFFFFF;
}

.settings-nav-item .icon,
.settings-nav-item .icon svg {
    height: var(--icon-size-large);
    width: var(--icon-size-large);
}

.settings-nav-item .icon svg {
    fill: var(--text-regular);
}

.settings-nav-item[aria-selected="true"] .icon svg {
    fill: #FFFFFF;
}

.settings-nav-item .title {
    flex: 1;
    text-align: left;
    word-break: break-word;
    position: relative;
    top: -0.0625em;
}

@media screen and (max-width: 760px) {
    .settings-nav,
    .unlock-page-width .settings-nav {
        width: auto;
        min-width: unset;
    }

    .settings-nav-item .title,
    .settings-nav-item .icon.right {
        display: none;
    }
}




.settings-group-title {
    border-bottom: var(--border-color) 1px solid;
    padding: 8px 0;
    background-color: var(--page-bgcolor);
    position: sticky;
    top: var(--settings-group-title-stickt-top);
    z-index: 10;
}

.settings-group-title .title {
    color: var(--text-primary);
    font-weight: bold;
    font-size: var(--font-size-title-3);
}

.settings-group-title .description {
    color: var(--text-secondary);
    font-size: var(--font-size-middle);
}

.settings-item+.settings-group-title {
    margin-top: 8px;
}

/* .settings-group+.settings-group {
    margin-top: 8px;
} */

.settings-group-collapse-title {
    border: unset;
    width: 100%;
    border-bottom: var(--border-color) 1px solid;
    padding: 8px 0;
    background-color: var(--page-bgcolor);
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* position: sticky; */
}

.settings-item+.settings-group-collapse .settings-group-collapse-title,
.settings-group-collapse.state-open+.settings-group-collapse .settings-group-collapse-title {
    border-top: var(--border-color) 1px solid;
}

.settings-group-collapse-title .title {
    color: var(--text-primary);
    font-weight: 500;
    font-size: var(--font-size-large);
}

.settings-group-collapse-title .icon {
    height: var(--icon-size-middle);
    width: var(--icon-size-middle);
}

.settings-group-collapse-title .icon svg {
    fill: var(--text-primary);
}

.settings-group-collapse-title .icon .close {
    display: none;
}

.settings-group-collapse.state-open .settings-group-collapse-title .icon .close,
.settings-group-collapse.state-close .settings-group-collapse-title .icon .open {
    display: block;
}

.settings-group-collapse.state-open .settings-group-collapse-title .icon .open,
.settings-group-collapse.state-close .settings-group-collapse-title .icon .close {
    display: none;
}

.settings-group-collapse.state-close .settings-group-collapse-content {
    display: none;
}

.settings-group-collapse:last-child {
    padding-bottom: 8px;
}

.settings-group-collapse-content {
    padding-left: 16px;
}



.settings-group-collapse-subtitle {
    border-bottom: var(--border-color) 1px solid;
    padding: 32px 0 8px 0;
}

.settings-group-collapse-subtitle .title {
    color: var(--text-regular);
    font-weight: 500;
    font-size: var(--font-size-middle);
}

.settings-group-collapse-subtitle+.settings-group-collapse-subtitle,
.settings-item+.settings-group-collapse-subtitle {
    border-top: var(--border-color) 1px solid;
}



.settings-item {
    display: flex;
    align-items: center;
    gap: var(--font-size-middle);
    padding: var(--font-size-middle) 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.settings-item-label {
    font-size: 0 !important;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    position: absolute !important;
    pointer-events: none;
}

.settings-group:not(:last-child) .settings-item:last-child {
    padding-bottom: 24px;
}

.settings-group:not(:last-child) .settings-group-collapse .settings-item:last-child {
    padding-bottom: 16px;
}

.settings-item>* {
    transition: opacity .3s;
}

.settings-item:first-child {
    padding-top: 0;
}

.settings-group-content {
    padding-left: 16px;
}

.settings-group-content .settings-item:first-child {
    padding-top: var(--font-size-middle);
}

.settings-item+.settings-item {
    border-top: var(--border-color) 1px solid;
}

.settings-item.settings-item-condition-test-fail>* {
    opacity: 0.4;
}

.settings-item.settings-item-condition-test-fail:hover>* {
    opacity: 0.6;
}

.settings-item.settings-item-condition-test-fail>.value:focus-within {
    opacity: 1;
    transition: opacity 0s ;
}

.settings-item .meta {
    flex: 3;
}

.settings-item .meta .title {
    color: var(--text-primary);
    font-weight: 500;
    font-size: var(--font-size-large);
    word-break: break-word;
    display: flex;
    align-items: center;
    gap: var(--gap-small);
}

.settings-item.settings-item-update .meta .title {
    color: var(--color-safe-dark);
}

.settings-item.change .meta .title::after,
.settings-item.change-textarea .meta .title::after {
    content: "*";
    color: var(--color-danger);
    display: inline-block;
}

.settings-item .meta .description {
    color: var(--text-secondary);
    font-size: var(--font-size-small);
}

.settings-item .meta .key {
    display: none;
    color: var(--text-regular);
    font-size: var(--font-size-extra-small);
    margin-top: 0.25em;
}

.settings-item .meta .key code {
    margin: 0;
}

.display-config-key .settings-item .meta .key {
    display: block;
}

.settings-item .value {
    /* width: 280px; */
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
}

.settings-unknown-config-type {
    color: var(--text-secondary);
    font-size: var(--font-size-small);
}

@media screen and (max-width: 760px) {
    .settings-item {
        align-items: stretch;
        flex-direction: column;
    }
}




.settings-item.settings-type-boolean .value {
    flex: unset;
    min-width: 96px;
}

.settings-switch {
    display: inline-block;
}

.settings-switch .btn-switch {
    min-width: calc(var(--font-size-base) * 5.5);
}

.settings-switch.state-on .btn-off {
    display: none;
}

.settings-switch.state-off .btn-on {
    display: none;
}

.settings-item[data-type="special.all_or_array_string"] {
    flex-wrap: wrap;
}

.settings-item[data-type="special.all_or_array_string"] .value {
    min-width: 96px;
    flex: unset;
}

.settings-item .content {
    width: 100%;
}

.settings-item[data-type="string.multiline"] {
    flex-direction: column;
    align-items: flex-start;
}

.settings-item[data-type="string.multiline"] .value {
    display: none;
}

.settings-item[data-type="string.multiline"] .content {
    width: 100%;
}

.settings-item[data-type="special.fontsize"] {
    flex-direction: column;
}

.settings-item[data-type="special.fontsize"] .meta {
    flex: unset;
    width: 100%;
}

.settings-item[data-type="special.fontsize"] .value {
    justify-content: center;
    width: 100%;
}

.settings-item[data-type="special.fontsize"] .value .fh-component-group-range-input {
    width: 100%;
}

.settings-item input[type=number],
.settings-item input[type=text],
.settings-item .fh-input-component,
.settings-item .fh-input-select-component {
    flex: 1;
}

/* .settings-value-list-box {
    display: flex;
    gap: var(--gap-small);
}

.settings-value-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--input-bgcolor);
    border-bottom: var(--border-color) 1px solid;
}

.settings-value-list-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-small);
}

.settings-value-list-controller button {
    min-width: 88px;
} */

.settings-item .content.hide {
    display: none;
}




.msgbox {
    --msgbox-color: var(--color-general);
    --msgbox-bgcolor: var(--color-general-glass);
    display: flex;
    padding: 8px;
    align-items: center;
    gap: var(--gap-small);
    border-left: var(--msgbox-color) 4px solid;
    background-color: var(--msgbox-bgcolor);
}

.msgbox .icon,
.msgbox .icon svg {
    width: var(--icon-size-extra-large);
    height: var(--icon-size-extra-large);
}

.msgbox .icon svg {
    fill: var(--msgbox-color);
}

.msgbox .title {
    color: var(--text-primary);
    font-weight: bold;
}

.msgbox .content {
    color: var(--text-primary);
}

.msgbox.state-warn {
    --msgbox-color: var(--color-warn);
    --msgbox-bgcolor: var(--color-warn-glass);
}

.msgbox.state-error {
    --msgbox-color: var(--color-danger);
    --msgbox-bgcolor: var(--color-danger-glass);
}

.msgbox.state-black {
    --msgbox-color: var(--text-primary);
    --msgbox-bgcolor: transparent;
}




.settings-controller-bottom {
    display: flex;
    align-items: center;
    padding: 16px 8px;
    border-top: var(--border-color) 1px solid;
    position: sticky;
    bottom: 0;
    background-color: var(--page-bgcolor);
    gap: var(--gap-middle);
    transition: bottom .3s ease-out, opacity .3s ease-out;
    opacity: 1;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 90;
}

.settings-controller-bottom.disabled {
    pointer-events: none;
    bottom: -80px;
    transition: bottom .3s ease-in, opacity .3s ease-in;
    opacity: 0;
}

.settings-controller-bottom button {
    min-width: 100px;
    margin: unset;
}

.settings-controller-message {
    flex: 1;
    color: var(--text-regular);
    min-width: 200px;
    font-size: var(--font-size-middle);
}

.settings-controller-action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-middle);
}

.settings-controller-action>button {
    flex: 1;
}

@media screen and (max-width: 760px) {
    .settings-controller-bottom button {
        min-width: unset;
    }
}




#edit-config-output {
    height: 50vh;
}




.settings-about-banner {
    text-align: center;
}

.settings-about-banner>img {
    max-width: 100%;
    max-height: 350px;
    height: auto;
    cursor: pointer;
}

a.settings-link-bar {
    display: flex;
    align-items: center;
    color: var(--text-regular);
    border-bottom: var(--border-color) 1px solid;
    min-height: var(--height-component-large);
    padding: 0 8px;
    gap: var(--gap-small);
}

a.settings-link-bar:hover,
a.settings-link-bar:active {
    filter: unset;
}

a.settings-link-bar:hover {
    background-color: var(--color-general-glass);
    background-image: var(--corner-marker);
}

a.settings-link-bar:active {
    filter: brightness(0.85);
}

.settings-link-bar .title {
    flex: 1;
}

.settings-link-bar .icon,
.settings-link-bar .icon svg {
    width: var(--icon-size-middle);
    height: var(--icon-size-middle);
}

.settings-link-bar .icon.left svg {
    fill: var(--text-regular);
}

.settings-link-bar .icon.right svg {
    fill: var(--text-secondary);
}

.settings-link-bar-group-title {
    color: var(--text-primary);
    font-weight: 500;
    margin-top: var(--gap-middle);
    padding: var(--gap-small);
    border-bottom: var(--border-color) 1px solid;
}

.settings-about-footer {
    color: var(--text-secondary);
    padding: 16px 8px;
    font-size: var(--font-size-small);
}

#export-unsave {
    background-color: var(--color-danger-dark);
    width: var(--font-size-extra-small);
    height: var(--font-size-extra-small);
    border-radius: calc(var(--font-size-extra-small) / 2);
    display: inline-block;
    margin-left: calc(var(--font-size-extra-small) / 3);
}

#export-unsave.hide {
    display: none;
}




.review-color-card {
    display: flex;
    margin: 16px 0;
}

.review-color-card>div {
    flex: 1;
}

.review-color-card>div>div {
    display: flex;
    min-height: calc(var(--font-size-base) * 2);
    align-items: center;
    justify-content: center;
}

.review-color-card .general .fg {
    color: var(--color-general-dark);
}

.review-color-card .safe .fg {
    color: var(--color-safe-dark);
}

.review-color-card .warn .fg {
    color: var(--color-warn-dark);
}

.review-color-card .danger .fg {
    color: var(--color-danger-dark);
}

.review-color-card .general .bg {
    background-color: var(--color-general-dark);
}

.review-color-card .safe .bg {
    background-color: var(--color-safe-dark);
}

.review-color-card .warn .bg {
    background-color: var(--color-warn-dark);
}

.review-color-card .danger .bg {
    background-color: var(--color-danger-dark);
}

.review-font-size-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 128px;
    background-color: var(--msgbox-bgcolor);
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

.review-font-size-card .example-1 {
    color: var(--text-primary);
    font-size: var(--font-size-base-review, 16px);
}

.review-font-size-card .example-2 {
    color: var(--text-secondary);
    font-size: calc(var(--font-size-base-review, 16px) * 0.875);
}

.touchscreen-layout .review-font-size-card .example-1 {
    font-size: calc(var(--font-size-base-review, 16px) * 1.125);
}

.touchscreen-layout .review-font-size-card .example-2 {
    font-size: var(--font-size-base-review, 16px);
}



.settings-about-content:not(.settings-link-debug-show) .settings-link-debug {
    display: none;
}




.settings-search-header {
    margin-bottom: var(--gap-middle);
}

.settings-search-bar {
    display: flex;
    flex-direction: row;
}

#settings-search {
    flex: 1;
}

#settings-search-btn {
    min-width: 6em;
    margin-left: unset;
    margin-right: unset;
}

.settings-search-result-item {
    appearance: none;
    background: unset;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    padding: var(--gap-small);
    border: unset;
    border-bottom: 1px var(--border-color) solid;
    cursor: pointer;
    outline: none;
    text-align: left;
}

.settings-search-result-item>* {
    width: 100%;
}

.settings-search-result-item:hover,
.settings-search-result-item:focus-visible {
    background-color: var(--color-general-glass);
    background-image: var(--corner-marker);
}

.settings-search-result-item:active {
    filter: brightness(0.85);
}

.settings-search-result-item .title {
    color: var(--text-primary);
    font-size: var(--font-size-middle);
    font-weight: 500;
}

.settings-search-result-item .group-title {
    font-weight: bold;
    color: var(--text-secondary);
    font-size: var(--font-size-small);
}

.settings-search-result-item .description {
    color: var(--text-secondary);
    font-size: var(--font-size-small);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.settings-highlight {
    animation: settings-highlight .7s ease-out 0s 1;
}

@keyframes settings-highlight {
    0% { background-color: transparent; box-shadow: 0 0 0 0 transparent; }
    10% { background-color: transparent; box-shadow: 0 0 0 0 transparent; }
    10.01% { background-color: var(--color-general-glass); box-shadow: 0 0 0 0 var(--color-general-glass); }
    100% { background-color: transparent; box-shadow: 0 0 0 var(--gap-middle) transparent; }
}



.avatar-review-panel {
    display: flex;
    align-items: stretch;
    gap: var(--gap-middle);
}

.avatar-review-image {
    --image-size: 200px;
    background-color: var(--msgbox-bgcolor);
    width: var(--image-size);
    height: var(--image-size);
    box-sizing: border-box;
    background-image: unset;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.avatar-review-info {
    flex: 1;
    color: var(--text-secondary);
    font-size: var(--font-size-small);
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.avatar-review-info .title {
    font-size: var(--font-size-large);
    color: var(--text-primary);
}

.avatar-review-info .description {
    flex: 1;
}

@media screen and (max-width: 760px) {
    .avatar-review-panel {
        align-items: center;
        flex-direction: column;
    }
}