.settings-panel {
    display: flex;
    gap: 16px;
    min-height: calc(100vh - 180px);
    align-items: flex-start;
}

.settings-panel a {
    color: var(--color-general-dark);
    text-decoration: none;
}

.settings-panel a:hover {
    filter: brightness(1.15);
}

.settings-panel a:active {
    filter: brightness(0.85);
}

.settings-nav {
    width: 280px;
    min-width: 280px;
    position: sticky;
    top: 60px;
}

.settings-content {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 25vh;
}

.settings-page.hide {
    display: none;
}





.file-drop-box {
    border: var(--border-coler) 4px dashed;
    height: 75vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
    user-select: none;
}

.file-drop-box-message {
    font-size: 20px;
    color: var(--text-secondary);
}





.settings-nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 0.5em;
    color: var(--text-regular);
    border: unset;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
    justify-content: space-between;
    gap: 8px;
    box-sizing: border-box;
}

.settings-nav-item:hover:not([aria-selected="true"]) {
    background-color: var(--color-general-glass);
    background-image: var(--corner-marker);
}

.settings-nav-item[aria-selected="true"] {
    background-color: var(--color-general-dark);
    background-image: var(--corner-marker);
    color: #FFFFFF;
}

.settings-nav-item .icon,
.settings-nav-item .icon svg {
    height: 28px;
    width: 28px;
}

.settings-nav-item .icon svg {
    fill: var(--text-regular);
}

.settings-nav-item[aria-selected="true"] .icon svg {
    fill: #FFFFFF;
}

.settings-nav-item .title {
    flex: 1;
    text-align: left;
    word-break: break-word;
}




.settings-group-title {
    border-bottom: var(--border-coler) 1px solid;
    padding: 8px 0;
}

.settings-group-title .title {
    color: var(--text-primary);
    font-weight: bold;
    font-size: 24px;
}

.settings-group-title .description {
    color: var(--text-secondary);
    font-size: 16px;
}

.settings-item+.settings-group-title {
    margin-top: 8px;
}

.settings-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
    box-sizing: border-box;
}

.settings-item:first-child {
    padding-top: 0;
}

.settings-item+.settings-item {
    border-top: var(--border-coler) 1px solid;
}

.settings-item .meta {
    flex: 3;
}

.settings-item .meta .title {
    color: var(--text-primary);
    font-weight: 500;
    font-size: 18px;
    word-break: break-word;
}

.settings-item .meta .description {
    color: var(--text-secondary);
    font-size: 14px;
}

.settings-item .value {
    /* width: 280px; */
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}




.settings-item.settings-type-boolean .value {
    flex: unset;
    width: 92px;
}

.settings-switch {
    display: inline-block;
}

.settings-switch .btn-switch {
    min-width: 88px;
}

.settings-switch.state-on .btn-off {
    display: none;
}

.settings-switch.state-off .btn-on {
    display: none;
}





.settings-about-banner>img {
    width: 100%;
    height: auto;
}

a.settings-link-bar {
    display: flex;
    align-items: center;
    color: var(--text-regular);
    border-bottom: var(--border-coler) 1px solid;
    min-height: 44px;
    padding: 0 8px;
    gap: 8px;
}

a.settings-link-bar:hover,
a.settings-link-bar:active {
    filter: unset;
}

.settings-link-bar .title {
    flex: 1;
}

.settings-link-bar .icon,
.settings-link-bar .icon svg {
    width: 24px;
    height: 24px;
}

.settings-link-bar .icon.left svg {
    fill: var(--text-regular);
}

.settings-link-bar .icon.right svg {
    fill: var(--text-secondary);
}

.settings-link-bar-group-title {
    color: var(--text-primary);
    font-weight: 500;
    margin-top: 16px;
    padding: 8px;
    border-bottom: var(--border-coler) 1px solid;
}

.settings-about-footer {
    color: var(--text-secondary);
    padding: 16px 8px;
    font-size: 14px;
}